.model-card{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-model{
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.img-model-content{
    position: relative;
    max-width: 120rem;
    margin-top: 5rem;
}

.img-model-content img{
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 8rem);
    margin-right: auto;
    margin-left: auto;
}