@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Prompt', sans-serif;
}

.container {
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

.section-main {
  height: 34rem;
  background: url('../public//images/backgroud-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  margin-top: 1rem;
}

.content-main{
  height: 18rem;
}

.title{
  margin-top: 3rem;
  text-align: center;
}

.title h1{
  font-size: 3rem;
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about{
  margin-top: 2rem;
  height: 18rem;
}

.model{
  max-width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title strong{
  font-size: 3rem;
}

.footer{
  margin-top: 3rem;
  padding: 0.7rem;
  background-color: #333333;
}

@media screen and (max-width: 480px) {
  .container{
    margin: 0 1rem;
  }

  .section-main{
    width: 245px;
    height: 320px;
  }

  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
}